<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />





<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js">
</script>


<title>VIP-Customers</title>
<br>
<div class="container">
<% if(error && error.length>0){%>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
<%=error %>
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>
<% if(success && success.length>0){%>
<div class="alert alert-success alert-dismissible fade show" role="alert">

<%=success %>
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
<% } %>
</div>
<br>

<div style="width:300px">
  
    <form  action="/vip" method="GET" id="forms"> 
       <div align="center">
 
        <input class="form-control me-2"  id="inputs" class="form-control" type="search" placeholder="Customer Name" value="<%=search%>" name="search" aria-label="Search">
      </div>
      </form>

</div>
<table class="table" style="padding-top:50px">
     <%users.forEach(function(alluser){%>
  <%if(alluser.offerHold==true){%>

  <thead>
    <tr>
      <th scope="col">#</th>
     
      <th scope="col">Name</th>
      <th scope="col">Email</th>
     


     
      
      <th scope="col">Month</th>

       <th scope="col">Status</th>


    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><i class="fas fa-hand-point-right"></i></th>
     
      <td><%=alluser.name%></td>
      <td><%=alluser.username%></td>
     
      
      
     
       <td><%=alluser.month%></td>
 
 
      <td>
             
        <a class="btn btn-danger btn-m" href="/updateCustomerStatus/<%=alluser._id%>/<%=alluser.month%>">remove-VIP</a>


			 
  </td>
    </tr>
  </tbody>
 <%}%>
 <%})%>
</table>
<script type="text/javascript"> 
 $(document).ready(function(){
   $("#inputs").on('keyup',function(e){
       
    if(e.key!=="Backspace" && e.key!=="Control" && e.key!=="ArrowRight" && e.key!=="ArrowLeft" && e.key!=="ArrowDown" && e.key!=="ArrowUp"){ 
     if($("#inputs").val().length>0){
      $("#forms").submit()
       
      }
     }
   })
    
 })
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
